	{% extends 'back.html.twig' %}

  

	{% block content %}
     

     <h1>page pour Admin</h1>
     
     <p>{{ app.user.id }}</p>
     <p>{{ app.user.email }}</p>

     <ul>
       {% for role in app.user.roles %}
        <li>{{ role }}</li>
       {% endfor %}
     </ul>

	 {% endblock %}


   {% block breadcrumb %}

      <ul class="breadcrumb">
        <li>  <a href="">Tableau de bord</a> </li>
        <li class="active">Liste des catégories</li>
      </ul>

   {% endblock %}


