{% extends 'base.html.twig' %}

{% block content %}



<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Maitrisez Symfony pour vos Projets
      </h1>
      <h2 class="subtitle">
        Formation sur le framework Symfony en collaboration avec SensioLabs
basée sur des exercices pratiques permettant de maîtriser chaque module du framework
      </h2>
    </div>
  </div>
</section>

<hr>

<div class="container">
    <div class="columns">
                   
        {% for post in posts %}
           <div class="card column">
              <div class="card-image">
                <figure class="image is-4by2">
                  <img src="{{ asset('uploads/posts/' ~ post.image) }}" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="http://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">{{ post.title }}</p>
                    <p class="subtitle is-6">@johnsmith</p>
                  </div>
                </div>

                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                  <a href="#">#css</a> <a href="#">#responsive</a>
                  <br>
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
            </div>
        {% endfor %}



    </div>
    </div>
</div>
    
{% endblock %}

{% block stylesheets %}

{% endblock %}
